{% extends 'base.html.twig' %}

{% block title %}New Group{% endblock %}

{% block body %}
    <h1>Create New Group</h1>

    {{ include('group/_form.html.twig') }}

    <a href="{{ path('app_group_index') }}" class="btn btn-secondary">
        <i class="bi bi-arrow-left-circle"></i> Back to List
    </a>
{% endblock %}
