{% extends 'front/base.html.twig' %}

{% block title %}Hello EventsController!{% endblock %}

{% block body %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Events</h1>
              <p class="mb-0">Discover events hosted by renowned companies to offer you a unique experience in the world of business and marketing.</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Events</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Events Section -->
    <section id="events" class="events section">

      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/events-item-1.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Introduction to Web Design by TechCorp</a></h5>
                <p class="fst-italic text-center">Sunday, September 26th at 7:00 pm</p>
                <p class="card-text">TechCorp invites you to explore the essentials of web design with industry experts. This event will cover the latest trends, techniques, and tools needed to create modern and responsive websites.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/events-item-2.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Advanced Marketing Strategies by MarketGenius</a></h5>
                <p class="fst-italic text-center">Sunday, November 15th at 7:00 pm</p>
                <p class="card-text">Join the marketing experts at MarketGenius to dive deep into advanced strategies that will help you elevate your brand presence and drive business growth in the competitive market.</p>
              </div>
            </div>

          </div>
        </div>

      </div>

    </section><!-- /Events Section -->

  </main>
{% endblock %}
